 <% form_for @users, :url=> { :action => :login} do |f| %>
  <div class="">
  	<ul>       
    	<li class="inputtext"><a>メールアドレス:</a>
    	<input type="text" size="40" id="email" style="height:22px;" />
    </li>
    </ul>
  </div>
  <div class="">
  	<ul>
  		<li class="inputtext">
    <a class="inputlabel" >パスワード:</a>
   <input type="text" size="40" id="pass"  style="height:22px" class="pasintput"/>
   </li>
   </ul>
  </div>
  <div>
  	<button class="button"  >ログイン</button>
    <button  class="button">会員登録</button>
  </div>
<% end %>